.body{
  background-color: black;
}
.App {
  text-align: center;

}
.Covid {
  background-image: linear-gradient(#290981 20%,#1c0697 100%);
  width: 100%;
  margin: auto; 
  padding: 10px;
  color: rgb(249, 250, 250);
}